- name: Include OS-specific variables
  include_vars: "{{ item }}"
  with_first_found:
    - "{{ ansible_distribution_release }}.yaml"
    - "{{ ansible_os_family|lower }}.yaml"

- name: Create directory for the sandbox
  file:
    path: "{{ packaging.target_dir }}"
    state: directory

# XXX(kklimonda): Rewrite it as ansible module
- name: copy scripts
  copy:
    src: "{{ item }}"
    dest: "{{ ansible_env.HOME }}"
    mode: preserve
  with_items:
    - repo
    - manifest_translator.py

- name: Initialize android repo
  command: "{{ ansible_env.HOME }}/repo init -u {{ ansible_env.HOME }}/{{ zuul._projects['review.opencontrail.org/Juniper/contrail-vnc'].src_dir }}"
  args:
    chdir: "{{ packaging.target_dir }}"

- name: Dump zuul variables to a file
  copy:
    content: "{{ zuul }}"
    dest: "{{ ansible_env.HOME }}/zuul_var.yaml"

- name: snapshot last commits SHAs into the manifest
  command: "{{ ansible_env.HOME }}/manifest_translator.py snapshot {{ ansible_env.HOME }}/zuul_var.yaml {{ packaging.target_dir }}/.repo/manifest.xml manifest.xml"

- name: Modify manifest.xml to use source code checked out by zuul
  command: "{{ ansible_env.HOME }}/manifest_translator.py translate {{ ansible_env.HOME }}/zuul_var.yaml {{ packaging.target_dir }}/.repo/manifest.xml"

- name: Synchronize repositories to the sandbox
  command: "{{ ansible_env.HOME }}/repo sync"
  args:
    chdir: "{{ packaging.target_dir }}"

- name: Clean-up auxiliary repo files
  file:
    path: "{{ item }}"
    state: absent
  with_items:
    - repo
    - manifest_translator.py
    - zuul_var.yaml

