createrepo
docker
docker-python
gcc
gdb
git
make
python-devel
python-pip
python36-devel
python36-pip
rpm-build
vim
wget
yum-utils
bash-completion
bash-completion-extras
ShellCheck
man-pages
man-db
future
tox
geventhttpclient
caniusepython3