<settings>
  <mirrors>
    <mirror>
      <id>central</id>
      <name>central</name>
      <mirrorOf>*</mirrorOf>
      <url>http://localhost:8081/repository/maven-public/</url>
    </mirror>
  </mirrors>
  <servers>
    <server>
      <id>nexus</id>
      <username>user</username>
      <password>name</password>
    </server>
  </servers>
</settings>
