---
- name: enable EPEL repository (RedHat)
  command: 'yum-config-manager --enable epel'
  become: true

# XXX(kklimonda): seems like EPEL repomd.xml is not deleted by configure-mirrors
#   and our EPEL mirror is too old to override cache. Nuke the cache from orbit.
- name: clean-up yum cache
  command: '{{ item }}'
  become: true
  with_items:
    - yum clean all

# XXX(kklimonda): workaround for yum-builddep force-enabling non-existing repo
- name: remove epel-source repository completely (RedHat)
  command: sed -e '/\[epel-source\]/,+6 s/^/#/' -i /etc/yum.repos.d/epel.repo
  become: true

- name: install system build dependencies
  command: make dep
  args:
    chdir: '{{ packaging.target_dir }}/tools/packages'
  become: true

- name: install additional packages used by unittest scripts
  yum:
    name: '{{ item }}'
    state: 'present'
  with_items:
    - 'ruby'
    - '{{ python_version }}'
  become: true

- name: fetch third-party dependencies
  command: './fetch_packages.py --site-mirror http://{{ zuul_site_mirror_fqdn }}'
  args:
    chdir: '{{ packaging.target_dir }}/third_party/'

