---

- name: 'running target {{ item }}'
  shell: |-
    set -eo pipefail
    timeout 28800s bash -c '{{ venv_dir}}/bin/tntestr --debug --less-strict {{ item }} | tee -a {{ tntestr_output }}'
  args:
    executable: '/bin/bash'
    chdir: '{{ packaging.target_dir }}'
  become: true
  environment:
    CONTRAIL_COMPILE_WITHOUT_SYMBOLS: yes
  register: inner
  failed_when: false

- name: 'target {{ item }} failed?'
  set_fact:
    tests_failed: true
  changed_when: inner.rc != 0
  when: inner.rc != 0
  become: true
