<settings>
  <mirrors>
    <mirror>
      <id>ci-nexus</id>
      <name>ci-nexus</name>
      <mirrorOf>*</mirrorOf>
      <url>{{ maven_repo_mirror_url }}</url>
    </mirror>
  </mirrors>
  <servers>
    <server>
      <id>ci-nexus</id>
      <username>tbd</username>
      <password>tbd</password>
    </server>
  </servers>
</settings>
