---
- name: Install package dependencies for the build (Debian)
  command: |
    mk-build-deps -r -i debian/control \
      --tool="apt-get -o Debug::pkgProblemResolver=yes --no-install-recommends --yes"
  args:
    chdir: "{{ packaging.target_dir }}"
  become: True
  register: deps
  failed_when: "'mk-build-deps: Unable to install all build-dep packages' in deps.stdout"

# DPDK is built from the same sources, but the dependencies were split
# to another source package, so make sure we also install them.
- name: Install DPDK build dependencies (Debian)
  apt:
    name: liburcu-dev
    state: present
  become: True

# XXX(kklimonda): can't reproduce "error: end of file reached" error outside
#   of CI, making it impossible to fix it. The following patch adds some
#   extra logging to tarfile module to see if we can spot any pattern.
- name: 'Patch python tarfile module (LP: #1754066)'
  patch:
    src: tarfile_verbose.patch
    basedir: /usr/lib/python2.7/
    strip: 1
  become: True
  ignore_errors: True

