contrail_configuration:
  CONTRAIL_VERSION: "{{ contrail_version }}"
  OPENSTACK_VERSION: "{{ openstack_version }}"
  CLOUD_ORCHESTRATOR: "{{ cloud_orchestrator }}"
  CONTROLLER_NODES: "{{ hostvars[groups['control-plane'][0]].ansible_default_ipv4.address }}"
  CONTROL_NODES: "{{ hostvars[groups['control-plane'][0]].ansible_default_ipv4.address }}"
  LOG_LEVEL: SYS_DEBUG
  JVM_EXTRA_OPTS: -Xms1g -Xmx2g
  KUBERNETES_PUBLIC_FIP_POOL:
     domain: default-domain
     name: __fip_pool_public__
     network: __public__
     project: k8s-default
  RABBITMQ_NODE_PORT: 5673
