[centos-openstack-{{ openstack_version }}]
name=CentOS {{ openstack_version }} release
baseurl=http://ci-repo.englab.juniper.net/mirrors/rpm/centos/7.4.1708/cloud/x86_64/openstack-{{ openstack_version }}
enabled=1
gpgcheck=0
