- name: Copy zuulstentacle.py script
  copy:
    src: zuulstentacle.py
    dest: /home/zuul/zuulstentacle.py
    mode: u+rwx

- name: Install Python 3
  apt:
    name: python3
    state: present

- name: Install Jenkins API for Python 3
  pip:
    name: jenkinsapi
    executable: pip3
  become: True
  become_user: root

# TODO: fetch actual Jenkins credentials from Ansible Vault
- name: Reach Jenkins by Zuul's Tentacle
  command: >
    ./zuulstentacle.py
    --jenkins_address "http://10.84.12.26:8080"
    --jenkins_job "WinContrail/WinCI-ji-test"
    --jenkins_user {{ jenkins_winci_credentials.user }}
    --jenkins_password {{ jenkins_winci_credentials.password }}
    --gerrit_server review.opencontrail.org
    --http_server_ip {{ ansible_default_ipv4.address }}
