#jinja2: trim_blocks:False
provider_config:
  bms:
    ntpserver: 192.168.1.1
    ssh_user: root
    ssh_private_key: /root/.ssh/id_rsa
    domainsuffix: novalocal

instances:
  bms1:
    provider: bms
    ip: "{{ control_ip }}"
    roles:
      config_database:
      config:
      control:
      analytics_database:
      analytics:
      analytics_snmp:
      analytics_alarm:
      webui:
      vrouter:
{%- if cloud_orchestrator == 'kubernetes' %}
      k8s_master:
      kubemanager:
      k8s_node:
{%- elif cloud_orchestrator == 'openstack' %}
      openstack:
      openstack_compute:
{%- endif %}

global_configuration:
  CONTAINER_REGISTRY: "{{ contrail_docker_registry }}"
  REGISTRY_PRIVATE_INSECURE: True

{% include cloud_orchestrator + '_config.yaml.j2' %}

deployment:
    orchestrator: {{ cloud_orchestrator }}

test_configuration:
    image_web_server: 10.84.5.120
    use_project_scoped_token: True
