---
- name: 'run linters -go-job'
  hosts: all
  vars:
    datastax_url: http://debian.datastax.com
    casandra_list_path: /etc/apt/sources.list.d/cassandra.sources.list
    contrail_go_api_url: https://github.com/Juniper/contrail-go-api/
    contrail_go_api_filename: contrail-go-api-generated-types-r2.20.tar.gz
    contrail_go_api_bin: "{{ contrail_go_api_url }}releases/download/1.0.0/{{ contrail_go_api_filename }}"
  tasks:
    - name: 'Pre setup tasks'
      shell: "{{ item }}"
      with_items:
        - curl -L {{ datastax_url }}/debian/repo_key | apt-key add -
        - echo "deb {{ datastax_url }}/community stable main" | tee -a {{ casandra_list_path }}
        - apt-get update -qq
        - apt-get install -y cassandra
        - sed -ri 's/^(start_rpc:) .*/\1 true/' /etc/cassandra/cassandra.yaml
        - service cassandra start
      become: true

    - name: "docker tasks "
      command: "{{ item }}"
      with_items:
        - docker run -e MYID=1 -e SERVERS=localhost --net=host -d mesoscloud/zookeeper:3.4.6
        - docker run -p 8443:8443 --name=ifmap-server -d opencontrail/ifmap-server:2.20
        - docker run --net=host --name=contrail-api -d opencontrail/config:2.20 /usr/bin/contrail-api

    - name: "installer tasks"
      command: "{{ item }}"
      with_items:
        - wget {{ contrail_go_api_bin }}
        - tar -zxvf {{ contrail_go_api_filename }} --strip-components=3
        - go get github.com/stretchr/testify
        - go get github.com/pborman/uuid
        - go get github.com/golang/glog

    - name: "run go linters job"
      command: "{{ item }}"
      with_items:
        - go test -v ./...
        - go test -v ./test -contrail-api=localhost


