# file templated from: https://raw.githubusercontent.com/savithruml/openshift-contrail/master/openshift/install-files/all-in-one/ose-prerequisites.yml
# deployment procedure: https://github.com/Juniper/contrail-docker/wiki/Red-Hat-OpenShift-with-Contrail-SDN
---
{% raw %}
- hosts: OSEv3
  tasks:
  - name: Install base packages
    yum: name="{{ item }}" state=present
    with_items:
    - net-tools
    - bind-utils
    - iptables-services
    - bridge-utils
    - bash-completion
    - python-pip
    - kexec-tools
    - sos
    - psacct
    - ntp
    - NetworkManager

  - name: Install openshift-enterprise package
    yum: name="{{ item }}" state=present
    with_items:
    - atomic-openshift-docker-excluder
    when:
    - deployment_type == "openshift-enterprise"
{% endraw %}

  - name: Install docker-py
    command: pip install docker-py
    when:
    - deployment_type == "openshift-enterprise"

  - name: Install docker
    yum:
      name: 'docker{% if docker_version is defined %}-{{ docker_version }}{% endif %}'
      state: present

  - name: Enable & start docker service
    service:
      name: docker
      state: started
      enabled: yes

  - name: Enble & start network-manager service
    service:
      name: NetworkManager
      state: started
      enabled: yes
