[OSEv3:children]
masters
nodes
etcd
openshift_ca

[OSEv3:vars]
ansible_ssh_user=root
ansible_become=yes
debug_level=2
deployment_type={{ openshift_deployment_type }}
openshift_release=v{{ openshift_version }}
openshift_repos_enable_testing=true
containerized=false
openshift_install_examples=true
openshift_master_identity_providers=[{'name': 'htpasswd_auth', 'login': 'true', 'challenge': 'true', 'kind': 'HTPasswdPasswordIdentityProvider', 'filename': '/etc/origin/master/htpasswd'}]
osm_cluster_network_cidr=10.32.0.0/12
openshift_portal_net=10.96.0.0/12
openshift_use_dnsmasq=true
openshift_clock_enabled=true
openshift_hosted_manage_registry=false
openshift_hosted_manage_router=false
openshift_enable_service_catalog=false
openshift_use_openshift_sdn=false
os_sdn_network_plugin_name='cni'
openshift_disable_check=disk_availability,package_version,docker_storage
openshift_docker_insecure_registries={{ contrail_docker_registry }}
openshift_web_console_install=True
openshift_web_console_nodeselector={'region':'infra'}

# Below are Contrail variables. Comment them out if you don't want to install Contrail through ansible-playbook
openshift_use_contrail=true
contrail_version={{ contrail_major_version }}
contrail_container_tag={% if contrail_image_os %}{{ contrail_image_os }}-{% endif %}{{ openstack_version }}-{{ contrail_version }}
contrail_registry={{ contrail_docker_registry }}
contrail_nodes={{ hostvars['openshift-master'].ansible_default_ipv4.address }}
vrouter_physical_interface={{ hostvars['openshift-master'].ansible_default_ipv4.interface }}

[masters]
{{ hostvars['openshift-master'].ansible_default_ipv4.address }} openshift_hostname={{ hostvars['openshift-master'].ansible_fqdn }}

[etcd]
{{ hostvars['openshift-master'].ansible_default_ipv4.address }} openshift_hostname={{ hostvars['openshift-master'].ansible_fqdn }}

[nodes]
{{ hostvars['openshift-master'].ansible_default_ipv4.address }} openshift_hostname={{ hostvars['openshift-master'].ansible_fqdn }}
{{ hostvars['openshift-compute'].ansible_default_ipv4.address }} openshift_hostname={{ hostvars['openshift-compute'].ansible_fqdn }}
{{ hostvars['openshift-infra'].ansible_default_ipv4.address }} openshift_hostname={{ hostvars['openshift-infra'].ansible_fqdn }} openshift_node_labels="{'region': 'infra'}"

[openshift_ca]
{{ hostvars['openshift-master'].ansible_default_ipv4.address }} openshift_hostname={{ hostvars['openshift-master'].ansible_fqdn }}
