# templated from: https://github.com/Juniper/contrail-kubernetes-docs/blob/master/install/openshift/3.9/standalone-openshift.md
[OSEv3:children]
masters
nodes
etcd
openshift_ca

[OSEv3:vars]
ansible_ssh_user=root
ansible_become=yes
debug_level=2
deployment_type={{ openshift_deployment_type }}
openshift_release=v{{ openshift_version }}
#openshift_repos_enable_testing=true
containerized=false
openshift_install_examples=true
openshift_master_identity_providers=[{'name': 'htpasswd_auth', 'login': 'true', 'challenge': 'true', 'kind': 'HTPasswdPasswordIdentityProvider', 'filename': '/etc/origin/master/htpasswd'}]
osm_cluster_network_cidr=10.32.0.0/12
openshift_portal_net=10.96.0.0/12
openshift_use_dnsmasq=true
openshift_clock_enabled=true
openshift_hosted_manage_registry=true
openshift_hosted_manage_router=true
openshift_enable_service_catalog=false
openshift_use_openshift_sdn=false
os_sdn_network_plugin_name='cni'
openshift_disable_check=memory_availability,package_availability,disk_availability,package_version,docker_storage
openshift_docker_insecure_registries={{ contrail_docker_registry }}

openshift_use_contrail=true
nested_mode_contrail=false
contrail_version={{ contrail_major_version }}
contrail_container_tag={% if contrail_image_os %}{{ contrail_image_os }}-{% endif %}{{ openstack_version }}-{{ contrail_version }}
contrail_registry={{ contrail_docker_registry }}
# Username /Password for private Docker regiteries
#contrail_registry_username=test
#contrail_registry_password=test
# Below option presides over contrail masters if set
#vrouter_physical_interface={{ hostvars['openshift-master'].ansible_default_ipv4.interface }}
contrail_vip={{ hostvars['openshift-master'].ansible_default_ipv4.address }}
vrouter_gateway={{ hostvars['openshift-compute'].ansible_default_ipv4.gateway }}
#docker_version=1.13.1

# Contrail_vars
#kubernetes_api_server=10.84.13.52
#kubernetes_api_port=8080
#kubernetes_api_secure_port=8443
cluster_name=k8s
#cluster_project={}
#cluster_network={}
#pod_subnets=10.32.0.0/12
#ip_fabric_subnets=10.64.0.0/12
#service_subnets=10.96.0.0/12
#ip_fabric_forwarding=false
#ip_fabric_snat=false
#public_fip_pool={}
#vnc_endpoint_ip=20.1.1.1
#vnc_endpoint_port=8082


[masters]
{{ hostvars['openshift-master'].ansible_default_ipv4.address }} openshift_hostname={{ hostvars['openshift-master'].ansible_fqdn }}

[etcd]
{{ hostvars['openshift-master'].ansible_default_ipv4.address }} openshift_hostname={{ hostvars['openshift-master'].ansible_fqdn }}

[nodes]
{{ hostvars['openshift-master'].ansible_default_ipv4.address }} openshift_hostname={{ hostvars['openshift-master'].ansible_fqdn }}
{{ hostvars['openshift-compute'].ansible_default_ipv4.address }} openshift_hostname={{ hostvars['openshift-compute'].ansible_fqdn }}
{{ hostvars['openshift-infra'].ansible_default_ipv4.address }} openshift_hostname={{ hostvars['openshift-infra'].ansible_fqdn }} openshift_node_labels="{'region': 'infra'}"

[openshift_ca]
{{ hostvars['openshift-master'].ansible_default_ipv4.address }} openshift_hostname={{ hostvars['openshift-master'].ansible_fqdn }}

[contrail_masters]
{{ hostvars['openshift-master'].ansible_default_ipv4.address }} openshift_hostname={{ hostvars['openshift-master'].ansible_fqdn }}
