---
- name: Copy template for testrunner
  template:
    src: "instances.yaml.j2"
    dest: "{{ ansible_env.HOME }}/contrail_test_input.yaml"

- name: Copy config to contrail-ansible-deployer config dir
  copy:
    src: "{{ ansible_env.HOME }}/contrail_test_input.yaml"
    dest: "{{ docker_provision_dir }}/config/instances.yaml"
    remote_src: yes

- name: Fetch instances.yaml to executor
  synchronize:
    src: "{{ docker_provision_dir }}/config/instances.yaml"
    dest: "{{ zuul.executor.log_root }}/"
    mode: pull
