export OS_PROJECT_DOMAIN_NAME=Default
export OS_USER_DOMAIN_NAME=Default
export OS_PROJECT_NAME=admin
export OS_TENANT_NAME=admin
export OS_USERNAME=admin
export OS_PASSWORD=c0ntrail123
export OS_AUTH_URL=http://"{{ hostvars[groups['control-plane'][0]].ansible_default_ipv4.address }}"/v3
export OS_INTERFACE=internal
export OS_IDENTITY_API_VERSION=3
export OS_REGION_NAME=RegionOne
export OS_AUTH_PLUGIN=password
export OS_BAREMETAL_API_VERSION=1.29
export CONTROLLER_IP="{{ hostvars[groups['control-plane'][0]].ansible_default_ipv4.address }}"
export KEYSTONE_USER=admin
export KEYSTONE_PASSWORD=c0ntrail123
export KEYSTONE_PROJECT=admin
export KEYSTONE_PROJECT_DOMAIN_ID=Default
export CONTRAIL_IP="{{ hostvars[groups['control-plane'][0]].ansible_default_ipv4.address }}"
export PROVIDER=Default