---
- name: Prepare build configuration - common.env
  template:
    src: common.env.j2
    dest: "{{ docker_build_dir }}/common.env"

- name: Send common.env to the executor
  synchronize:
    src: "{{ docker_build_dir }}/common.env"
    dest: "{{ zuul.executor.log_root }}/"
    mode: pull
  become: true

- name: Get list of repo files
  command: "ls {{ rpm_repo_config_dir }}"
  register: repo_list

- name: Copy the repo files to container build context
  copy:
    src: "{{ rpm_repo_config_dir }}/{{ item }}"
    dest: "{{ docker_build_dir }}/{{ item }}.template"
    remote_src: true
  with_items:
    - "{{ repo_list.stdout_lines | reject('equalto', 'epel.repo') | list }}"

- name: Template openstack repo file
  template:
    src: "openstack.repo.j2"
    dest: "{{ docker_build_dir }}/openstack.repo.template"
  when: "ansible_distribution == 'CentOS'"

- name: Prepare container list
  shell: ./build.sh list | grep -v INFO
  become: true
  register: docker_list
  args:
    chdir: "{{ docker_build_dir }}/containers"

- name: "HACK: disable IPv6"
  shell: |
    sysctl -w net.ipv6.conf.all.disable_ipv6=1
    sysctl -w net.ipv6.conf.default.disable_ipv6=1
  ignore_errors: true
  become: true

- name: Build microservices
  include: build_container.yaml
  with_items: "{{ docker_list.stdout_lines }}"

- name: print the list of images in local Docker engine
  command: 'docker images'
  become: true
