<settings>
  <mirrors>
    <mirror>
      <id>central</id>
      <name>central</name>
      <mirrorOf>*</mirrorOf>
      <url>http://{{ nexus.fqdn }}/repository/maven-public/</url>
    </mirror>
  </mirrors>
  <servers>
    <server>
      <id>nexus</id>
      <username>tbd</username>
      <password>tbd</password>
    </server>
  </servers>
</settings>
