---

- include: '{{ ansible_distribution | lower }}.yaml'

- name: upgrade tox
  pip:
    name: 'tox=={{ tox_version }}'
  become: true
  when: upgrade_tox

- name: upgrade setuptools
  pip:
    name: 'setuptools==40.0'
  become: true
  when: upgrade_setuptools

