---

- name: install tox
  package:
    name: 'python-tox'
    state: 'installed'
  become: true

- name: install python3
  package:
    name: python3
    state: installed
  become: true

- name: install/upgrade utilities
  become: true
  command: "python3 -m pip install --upgrade {{ item }}"
  with_items:
    - virtualenv
    - "scons<4.0.0"
    - pydot
    - future
