{% if ansible_distribution == 'RedHat' %}
LINUX_DISTR=rhel7
YUM_ENABLE_REPOS=""
CONTRAIL_DEPLOYERS_TAG=rhel-{{ contrail_version }}
{% elif ansible_distribution == 'CentOS' %}
LINUX_DISTR=centos
CONTRAIL_DEPLOYERS_TAG={{ contrail_version }}
{% endif %}
CONTRAIL_CONTAINER_TAG=rhel-{{ openstack_version }}-{{ contrail_version }}-rhel-{{ 
GENERAL_EXTRA_RPMS=""
BASE_EXTRA_RPMS=""
LINUX_DISTR_VER=latest
CONTRAIL_VERSION={{ contrail_packaging.docker_tags[ansible_distribution] }}
CONTRAIL_REGISTRY={{ contrail_docker_registry }}
CONTRAIL_REPOSITORY={{ contrail_package_repository }}
OPENSTACK_VERSION={{ openstack_version }}
DEPLOYERS_BASE_CONTAINER={{ contrail_docker_registry }}/contrail-general-base:{{ openstack_version }}-{{ contrail_version }}
