{% if ansible_distribution == 'RedHat' %}
{% set containers_tag = 'rhel-' + openstack_version + '-' + contrail_version %}
LINUX_DISTR=rhel7
LINUX_DISTR_VER=7.6-202.1554729462
YUM_ENABLE_REPOS=""
CONTRAIL_CONTAINER_TAG={{ containers_tag }}
{% elif ansible_distribution == 'CentOS' %}
{% set containers_tag = openstack_version + '-' + contrail_version %}
LINUX_DISTR_VER=latest
LINUX_DISTR=centos
{% endif %}
GENERAL_EXTRA_RPMS=""
BASE_EXTRA_RPMS=""
CONTRAIL_VERSION={{ contrail_packaging.repo_name }}
CONTRAIL_REGISTRY={{ contrail_docker_registry }}
CONTRAIL_REPOSITORY={{ contrail_package_repository }}
OPENSTACK_VERSION={{ openstack_version }}
CONTRAIL_DEPLOYERS_TAG={{ containers_tag }}
DEPLOYERS_BASE_CONTAINER={{ contrail_docker_registry }}/contrail-general-base:{{ containers_tag }}
