{% if ansible_distribution == 'RedHat' %}
LINUX_DISTR=rhel7
YUM_ENABLE_REPOS=""
{% elif ansible_distribution == 'CentOS' %}
LINUX_DISTR=centos
{% endif %}
CONTRAIL_CONTAINER_TAG={{ contrail_tag }}
CONTRAIL_DEPLOYERS_TAG={{ contrail_deployers_tag }}
GENERAL_EXTRA_RPMS=""
BASE_EXTRA_RPMS=""
LINUX_DISTR_VER=latest
CONTRAIL_REGISTRY={{ contrail_docker_registry }}
CONTRAIL_REPOSITORY={{ contrail_package_repository }}
OPENSTACK_VERSION={{ openstack_version }}
DEPLOYERS_BASE_CONTAINER={{ contrail_docker_registry }}/contrail-general-base:{{ contrail_tag }}
