[centos-openstack-{{ openstack_version }}]
name=CentOS {{ openstack_version }} release
baseurl=http://svl-artifactory.juniper.net/artifactory/contrail-yum-centos/7/cloud/x86_64/openstack-rocky
enabled=1
gpgcheck=0
