---

# playbook and openshift-ansible role prepared based on the guide available under link
# https://github.com/Juniper/openshift-ansible/wiki/Install-OpenShift-Enterprise-with-Contrail-SDN-(OpenShift-Ansible)

- hosts: all:!deployment
  roles:
    - acquire-ip-address
    - yum-repos-prepare
    - role: configure-hosts-entries # openshift installation reconfigures /etc/resolv.conf
      hosts_entries:
        - fqdn: 'ci-repo.englab.juniper.net'
          address: '10.84.5.81'
    - install-openshift-prerequisites

- hosts: deployment
  roles:
    - openshift-ansible
  post_tasks:
    - name: test the xml report for failures
      shell: "[ x\"$(grep testsuite /root/contrail-test-runs/*/reports/TESTS-TestSuites.xml  | grep -o  'failures=\\S\\+' | uniq)\" = x'failures=\"0\"' ]"
      become: true

