#jinja2: trim_blocks:False
provider_config:
  bms:
    ssh_user: root
    ssh_private_key: /root/.ssh/id_rsa
    domainsuffix: local

instances:
  bms1:
    provider: bms
    ip: '{{ ansible_default_ipv4.address }}'
    roles:
      config_database:
      config:
      control:
      analytics_database:
      analytics:
      webui:
      vrouter:
      openstack:

contrail_configuration:
  AUTH_MODE: keystone
  AAA_MODE: cloud-admin
  AGENT_MODE: kernel
  BGP_PORT: 1179
  CONTROLLER_NODES: '{{ ansible_default_ipv4.address }}'
  CONTROL_NODES: '{{ ansible_default_ipv4.address }}'
  PHYSICAL_INTERFACE: ens3
  VROUTER_GATEWAY: '{{ ansible_default_ipv4.address }}'
  CONFIG_API_VIP: '{{ ansible_default_ipv4.address }}'
  RABBITMQ_NODE_PORT: 5673

deployment:
    orchestrator: '{{ cloud_orchestrator }}'
    deployer: '{{ contrail_deployer }}'

orchestrator_configuration:
    keystone:
        version: v3
        password: password

test_configuration:
    image_web_server: 10.84.5.120
    use_project_scoped_token: True
    auth_port: 80
    auth_url: http://keystone.openstack.svc.cluster.local:80/v3
