{% if ansible_distribution == 'RedHat' %}
LINUX_DISTR=rhel7
YUM_ENABLE_REPOS=""
CONTRAIL_CONTAINER_TAG=rhel-{{ openstack_version }}-{{ contrail_version }}
{% elif ansible_distribution == 'CentOS' %}
LINUX_DISTR=centos
{% endif %}
GENERAL_EXTRA_RPMS=""
BASE_EXTRA_RPMS=""
LINUX_DISTR_VER=latest
CONTRAIL_VERSION={{ contrail_packaging.repo_name }}
CONTRAIL_REGISTRY={{ contrail_docker_registry }}
CONTRAIL_REPOSITORY=http://10.84.5.81/pulp/repos/{{ contrail_packaging.repo_names[ansible_distribution] }}
OPENSTACK_VERSION={{ openstack_version }}
