{% if ansible_distribution == 'RedHat' %}
LINUX_DISTR=rhel7
{% elif ansible_distribution == 'CentOS' %}
LINUX_DISTR=centos
{% endif %}
LINUX_DISTR_VER=latest
CONTRAIL_VERSION={{ contrail_version }}
CONTRAIL_REGISTRY={{ contrail_docker_registry }}
CONTRAIL_REPOSITORY={{ contrail_package_repository }}
OPENSTACK_VERSION={{ openstack_version }}
OPENSTACK_SUBVERSION={{ openstack_subversion }}
