---
docker_provision_dir: '{{ ansible_env.HOME }}/src/review.opencontrail.org/Juniper/contrail-ansible-deployer'
contrail_version: '{{ packaging.openstack_specific_docker_tags[ansible_distribution] }}'
openstack_version: 'queens'

control_plane_common_roles:
  - config_database
  - config
  - control
  - analytics_database
  - analytics
  - webui

control_plane_specific_roles:
  openstack:
    - openstack
  kubernetes:
    - k8s_master
    - kubemanager

data_plane_common_roles:
  - vrouter

data_plane_specific_roles:
  openstack:
    - openstack_compute
  kubernetes:
    - k8s_node

