---
docker_provision_dir: '{{ ansible_env.HOME }}/src/review.opencontrail.org/Juniper/contrail-ansible-deployer'
contrail_version: >-
  {%- if zuul.change is defined -%}
    {{ zuul.change }}-{{ zuul.patchset }}
  {%- else -%}
    {{ contrail_container_tag }}
  {%- endif -%}
openstack_version: 'queens'

control_plane_common_roles:
  - config_database
  - config
  - device_manager
  - control
  - analytics_database
  - analytics
  - analytics_snmp
  - analytics_alarm
  - webui

control_plane_specific_roles:
  openstack:
    - openstack
  kubernetes:
    - k8s_master
    - kubemanager

data_plane_common_roles:
  - vrouter

data_plane_specific_roles:
  openstack:
    - openstack_compute
  kubernetes:
    - k8s_node

