- name: Install build dependencies
  package:
    name: "{{ item }}"
    state: present
  become: true
  with_items:
    - ansible

- name: Configure AIO VM with configure_instances.yml playbook
  command: ansible-playbook -i inventory/ playbooks/configure_instances.yml -v
  args:
    chdir: "{{ docker_provision_dir }}"
  environment:
    ANSIBLE_HOST_KEY_CHECKING: 'False'
    ANSIBLE_STDOUT_CALLBACK: debug
  become: True

- name: Provision OpenStack with install_openstack.yml playbook
  command: ansible-playbook -i inventory/ -e orchestrator=openstack playbooks/install_openstack.yml
  args:
    chdir: "{{ docker_provision_dir }}"
  environment:
    ANSIBLE_HOST_KEY_CHECKING: 'False'
    ANSIBLE_STDOUT_CALLBACK: debug
  become: True
  when: cloud_orchestrator == 'openstack'

- name: Provision Contrail with install_contrail.yml playbook
  command: ansible-playbook -i inventory/ -e orchestrator={{ cloud_orchestrator }} playbooks/install_contrail.yml
  args:
    chdir: "{{ docker_provision_dir }}"
  environment:
    ANSIBLE_HOST_KEY_CHECKING: 'False'
    ANSIBLE_STDOUT_CALLBACK: debug
  become: True

- name: Provision k8s with install_k8s.yml playbook
  command: ansible-playbook -i inventory/ -e orchestrator={{ cloud_orchestrator }} playbooks/install_k8s.yml
  args:
    chdir: "{{ docker_provision_dir }}"
  environment:
    ANSIBLE_HOST_KEY_CHECKING: 'False'
    ANSIBLE_STDOUT_CALLBACK: debug
  become: True
  when: cloud_orchestrator == 'kubernetes'

- name: Show the list of running containers
  command: docker ps -a
  become: True

- name: Show processes
  command: ps aux --sort rss

- name: Show memory usage
  command: free -m

- name: (Hack) Wait for the vrouter initialization
  action: shell ip route | grep vhost0
  register: vhost_interface
  until: vhost_interface.stdout != ""
  retries: 30
  delay: 20
  become: True

- name: Check interfaces for addresses
  command: ip addr
  become: True

- name: (Hack) get config_api container id
  shell: docker ps | awk '/config_api/ { print $1 }'
  register: config_api_container
  become: True

- name: (Hack) restart config_api container to fix issue with VNC API lib
  command: docker restart {{ config_api_container.stdout }}
  become: True
  when: config_api_container.stdout is defined
